* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    0deg,
    rgba(230, 251, 255, 1) 0%,
    rgba(124, 178, 187, 1) 48%,
    rgba(88, 135, 143, 1) 100%
  );
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* ------- header + nav bar ------- */

#header-nav {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #335360;
  padding: 0px 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 3;
}

#header-nav > a {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  color: white;
}

#nav-links {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem;
  display: block;
}

#nav-links li:hover {
  background-color: rgb(69, 111, 128);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease;
}

/* ------- index page ------- */

.index-main-container {
  position: relative;
  color: white;
  height: 32rem;
  width: 100%;
}

.index-main-container-bg {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.ca-container {
  position: absolute;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  top: 0;
  color: rgb(0, 0, 0);
  z-index: 2;
}

.ca-container-txt > h1 {
  color: #5a8992;
  font-size: 5.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.ca-container-txt > p {
  color: rgb(68, 68, 68);
  font-size: 1.8em;
  margin-top: -70px;
  margin-left: 2%;
}

/* css for 'cities' button */

a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.button-1 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.95rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 6em;
  margin-left: 2%;
}

.button-1:hover,
.button-1:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-1:hover {
  transform: translateY(-1px);
}

.button-1:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* index page - aside  */

.index-aside-container {
  position: relative;
  height: 38rem;
  background: linear-gradient(
    0deg,
    rgba(230, 251, 255, 1) 0%,
    rgba(124, 178, 187, 1) 48%,
    rgba(88, 135, 143, 1) 100%
  );
  text-align: center;
}

.index-aside-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h4-element-index {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  width: 20em;
  padding: 15px;
  margin-top: 2.5em;
  color: black;
  border-radius: 30px;
  border: 4px solid rgba(88, 135, 143, 1);
  box-shadow: 0 0 0 0px white, 0 0 0 3px #ffffff;
}

.aside-img-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.white-space {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  height: 25em;
  width: 25em;
  padding: 20px;
  margin: 20px 30px;
  border: 1px rgb(206, 206, 206) solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.white-space > p {
  font-size: 15pt;
  margin-bottom: -0px;
}

.inner-img {
  width: 100%;
  height: 100%;
}

.index-images {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------- cities page -------*/

.cities {
  position: relative;
  color: white;
  height: 42rem;
  width: 100%;
  z-index: 2;
}

.citiespage-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -15.5%;
  height: 0%;
  width: 100%;
  color: rgb(0, 0, 0);
}

.cities-container-txt {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  top: 0;
  color: rgb(0, 0, 0);
}

.cities-img-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cities-images {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 90%;
}

.city-inner-img {
  width: 100%;
  height: 100%;
}

.cities-images:hover {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease;
  opacity: 100%;
}

.cities-container-txt > h1 {
  color: #5a8992;
  font-size: 4.5rem;
  font-weight: bold;
}

.city-white-space {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  height: 28em;
  width: 25em;
  padding: 20px;
  margin: 20px 30px;
  border: 1px rgb(206, 206, 206) solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.city-white-space p {
  font-size: 25px;
  color: rgb(23, 23, 23);
  margin-bottom: 1%;
}

.city-white-space:hover {
  margin-top: 1%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease;
}

/* cities page - aside */

.cities-aside-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 28rem;
  background-color: rgba(88, 135, 143, 1);
  z-index: 1;
}

.h4-element-cities {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px;
  width: 20em;
  color: black;
  border-radius: 30px;
  border: 4px solid rgba(88, 135, 143, 1);
  box-shadow: 0 0 0 0px white, 0 0 0 3px #ffffff;
}

.h4-element-cities h4 {
  margin: 0;
  padding: 0;
}

#fun-facts li {
  color: white;
  font-size: 20px;
  padding: 0px;
  margin: 2em;
}

#fun-facts p {
  margin-left: 20px;
}

.list {
  list-style-image: url("img/sun-icon-small.png");
  padding: 0;
}

/* table */

.annual-visitors-element {
  background-color: #1d3e4b;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22pt;
}

.table-container {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    #d1e4ec 48%,
    #c2d6de 100%
  );
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.table {
  overflow: auto;
  width: 25%;
  border: 1px solid #dededf;
  height: 23rem;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table caption {
  caption-side: top;
  text-align: left;
}

.table th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 15px;
}

.table td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
}

.side-img {
  position: relative;
  display: block;
  margin: 40px 100px;
  height: 23rem;
  width: 23rem;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* footer */

#footer {
  background-color: #335360;
  color: white;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* extra */

#white-border {
  border: solid white 3px;
}
